<h2>忘れないように！！</h2>


  <div id="input_pluralBox">
    <div id="input_plural">
        <input type="text" class="form-control" placeholder="gear名を入れてください">
        <input type="button" value="＋" class="add pluralBtn">
        <input type="button" value="－" class="del pluralBtn">
        <input type="checkbox" > ok
    </div>
</div>
