<h4>忘れないように！！</h4>

<div id="form_area">
  <input type="text" id="inputform_0" placeholder="フォーム-0">
  <button id="0" onclick="deleteBtn(this)">削除</button>
</div>
<input type="button" value="フォーム追加" onclick="addForm()">