<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
          
        <%= link_to current_user.nickname, user_path(current_user), class: :greeting__link %>
        、ログイン中
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
</main>
